<%= form_for(@team) do |f| %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> Equipe impedida de ser salva:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br />
    <%= f.text_area :perfil, :id=>'message_area' %>
  </div>
  <div class="field">
    <%= f.label :escalacao %><br />
    <%= f.text_area :escalacao, :id=>'message_area' %>
  </div>
  <div class="field">
    <%= f.label :grupo %><br />
    <%= f.select :grupo, (["A","B","C","D","E","F","G","H"])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
    
<% end %>
